// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1240px;

// Colors
$whiteColor: #fff;
$blackColor: #000000;
$mainColor: #517880;
$greyColor: #909090;


//Shadows


// Gradients
$mainGradient: linear-gradient(342.54deg, #957254 -12.34%, #113945 58.23%);
$secondGradient: linear-gradient(135deg, #2C7D8B 0%, #22515D 100%);


// Exports
:export {}