// Breakpoints
$mobile: 320px;
$desktop: 1440px;

// Colors
$whiteColor: #fff;
$blackColor: rgba(20, 20, 23, 1);
$mainColor: #517880;
$greyColor: #909090;


//Shadows


// Gradients
$mainGradient: linear-gradient(342.54deg, #957254 -12.34%, #113945 58.23%);
$secondGradient: linear-gradient(135deg, #2C7D8B 0%, #22515D 100%);


// Exports
:export {}