@import '/src/sass/variables.scss';

.group {
    display: grid;

    // grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    column-gap: 40px;
    row-gap: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // width: 50px;
    // height: 50px;

    // background-color: red;
    background-color: $mainColor;
    border-radius: 10px;
}

.img {
    max-width: 400px;
    height: 300px;

    // background-color: red;
    // border-radius: 5px;
}

.title {
    // width: 120px;
    // padding: 10px;
    // height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 10px;

    // background-color: $mainColor;
    // border-radius: 5px;
}

.desc {
    // height: 60px;
    // margin-top: 10px;
    margin-bottom: 20px;


    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;

    // background-color: $mainColor;
    // border-radius: 5px;
}

.stack {
    // height: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    // background-color: red;
    // border-radius: 5px;
}

.stackItem:not(:last-child) {
    margin-right: 10px;
}

.links {
    // height: 40px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    // background-color: $mainColor;
    // border-radius: 5px;
}

.itemLink {
    padding: 10px;

    background-color: $greyColor;
    border-radius: 10px;
}

.itemLink:not(:last-child) {
    margin-right: 10px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svg {
    width: 30px;
    height: 30px;

    margin-bottom: 5px;

    // background-color: red;
}