@import '/src/sass/variables.scss';



.sliderContainer {
    width: 294px;
    height: 205px;

    @media screen and (min-width: $tablet) {
        width: 510px;
        // height: 550px;
    }

    @media screen and (min-width: $desktop) {
        width: 1073px;
        // height: 550px;
    }
}

.sliderDots {
    bottom: -20px !important;

    @media screen and (min-width: $tablet) {
        bottom: -100px !important;
    }

    @media screen and (min-width: $desktop) {
        bottom: -400px !important;
    }
}


.container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    @media screen and (min-width: $tablet) {
        padding-left: 149px;
        padding-right: 175px;
        padding-bottom: 150px;
    }

    @media screen and (min-width: $desktop) {
        padding-left: 205px;
        padding-right: 162px;
        padding-bottom: 450px;
    }
}

.titleWrapper {
    display: flex;
    justify-content: end;

    margin-bottom: 28px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 94px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 94px;
    }
}

.title {
    display: inline-flex;
    // transform: translate(2%);

    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.15em;

    @media screen and (min-width: $tablet) {
        // transform: translate(2%);

        font-size: 70px;
        line-height: 78px;
    }

    @media screen and (min-width: $desktop) {
        // transform: translate(2%);

        font-size: 128px;
        line-height: 143px;
    }
}


.item {
    display: flex;

    cursor: pointer;
    transition: 0.3s;
}

.itemFlex {
    display: flex;

    @media screen and (min-width: $tablet) {
        display: flex;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
    }
}


.img {
    width: 239px;
    height: 135px;

    @media screen and (min-width: $tablet) {
        width: 407px;
        height: 231px;
    }

    @media screen and (min-width: $desktop) {
        width: 802px;
        height: 455px;
    }
}

.descWrapper {
    margin-top: auto;

}

.stack {
    margin-top: 49px;
    margin-left: 8px;

    display: flex;
    flex-direction: column;

    font-weight: 700px;
    font-size: 6px;
    line-height: 6px;
    letter-spacing: 0.15em;

    @media screen and (min-width: $tablet) {
        margin-top: 60px;
        margin-left: 15px;
        margin-bottom: 30px;

        font-size: 6px;
        line-height: 7px;
    }

    @media screen and (min-width: $desktop) {
        margin-top: 98px;
        margin-left: 26px;

        font-size: 16px;
        line-height: 17px;
    }
}


.descTitle {
    width: 108px;
    height: 21px;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(-70%);


    padding: 10px;
    background-color: $blackColor;

    color: $whiteColor;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.15em;

    @media screen and (min-width: $tablet) {
        width: 185px;
        transform: translate(-70%, 100%);

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;
    }

    @media screen and (min-width: $desktop) {
        width: 364px;
        height: 73px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;


        font-size: 36px;
        line-height: 40px;
    }
}


.descTextMobile {
    font-size: 12px;
    line-height: 13px;

    @media screen and (min-width: $tablet) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.descTextDesk {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
        margin-top: 25px;
        // margin-left: 26px;

        font-size: 8px;
        line-height: 9px;
    }

    @media screen and (min-width: $desktop) {
        display: block;
        margin-top: 80px;
        margin-left: 26px;

        font-size: 20px;
        line-height: 22px;
    }
}


.linksWrapper {
    display: flex;

    @media screen and (min-width: $tablet) {
        display: flex;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.projectType {
    display: flex;
    align-items: center;

    margin-top: 10px;
    margin-left: 17px;
    margin-right: 10px;

    font-size: 5px;
    line-height: 5px;
    letter-spacing: 0.15em;

    @media screen and (min-width: $tablet) {
        margin-top: 15px;
        margin-left: 0px;

        font-size: 5px;
        line-height: 6px;
    }

    @media screen and (min-width: $desktop) {
        margin-top: 25px;
        margin-left: 0px;

        font-size: 16px;
        line-height: 17px;
    }
}

.links {
    display: flex;

}

.itemLink {
    &:not(:last-child) {
        margin-right: 2px;

    }

    @media screen and (min-width: $tablet) {
        &:not(:last-child) {
            margin-right: 9px;
        }
    }

    @media screen and (min-width: $desktop) {
        &:not(:last-child) {
            margin-right: 9px;
        }
    }
}

.link {
    width: 40px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;



    padding: 10px;
    background-color: $blackColor;
    border-radius: 5px;

    color: $whiteColor;
    font-weight: 700;
    font-size: 5px;
    line-height: 5px;
    letter-spacing: 0.15em;


    @media screen and (min-width: $tablet) {
        width: 68px;
        height: 42px;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translate(0, 0px);


        font-size: 5px;
        line-height: 5px;
    }

    @media screen and (min-width: $desktop) {
        width: 133px;
        height: 83px;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translate(0, 0px);


        font-size: 16px;
        line-height: 17px;
    }
}