@import '/src/sass/variables.scss';



.group {
    margin-top: 55px;

    display: flex;
    align-items: center;
    justify-items: center;

    @media screen and (min-width: $desktop) {
        padding-left: 192px;
        margin-top: 150px;
    }
}


.leftTitleWrapper {
    margin-bottom: auto;
}

.rightTitleWrapper {
    width: 100%;
    padding-right: 29px;

    margin-bottom: auto;
}


.skillsWrapper {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 26.86px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}

.leftTitle {
    transform: rotate(180deg);
    writing-mode: vertical-rl;

    font-size: 56px;
    line-height: 62px;
    letter-spacing: 0.15em;
}

.categoryWrapper {
    // width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

.category {
    width: 96px;
    height: 33px;

    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 13px;

    padding: 10px;
    background-color: $blackColor;

    color: $whiteColor;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.15em;

    @media screen and (min-width: $desktop) {
        width: 256px;
    }
}

.item {
    display: flex;
    align-items: center;
    // justify-content: center;

    margin-bottom: 10px;
}

.logo {
    width: 20px;
    height: 20px;

    margin-right: 10px;

    border-radius: 5px;
}

.desc {
    display: flex;
}

.groupSoft {
    // display: flex;
    padding-left: 233px;
    padding-right: 233px;
    padding-top: 18px;
    padding-bottom: 36px;

    background-color: $blackColor;
}

.softFlexWrapper {
    display: flex;
    margin-bottom: 81px;
}

.softWrapper {
    display: grid;

    align-items: center;
    // justify-content: center;
}

.softSkillsWrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
    row-gap: 10px;

    margin-left: auto;

    align-items: center;
    // justify-content: center;
}

.languageWrapper {
    grid-template-columns: repeat(4, 1fr);
}



.softText {
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.15em;
    color: $whiteColor;
}


.softTitle {
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
}