@import '/src/sass/variables.scss';

// .title {
//     margin-bottom: 20px;

//     font-size: 20px;
//     text-transform: uppercase;
// }


.container {
    display: flex;
}

.desc {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;

    margin-right: 40px;

    color: $whiteColor;
}


.resumeContainer {
    display: flex;
    // align-items: center;
    justify-content: center;
    margin-top: auto;
    // margin-left: auto;
    // margin-right: auto;
}

.resume {
    width: 120px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 5px solid $mainColor;
    border-radius: 16px;
}

// .resumeBtn {
//     color: $whiteColor;
// }

.name {
    font-weight: 600;
    font-size: 18px;
}



.position {
    font-weight: 600;
    font-size: 18px;
}


.bio {
    margin-top: 10px;
}

.img {
    width: 400px;
    height: 400px;

    // background-color: rgba(255, 0, 0, 0.5);

}

.contacts {
    height: 140px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: $mainColor;

    color: $whiteColor;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 5px;

    border-bottom: 5px solid $blackColor;
}

.item {
    margin-bottom: 5px;
}

.item:not(:last-child) {
    margin-right: 10px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svg {
    width: 40px;
    height: 40px;

    margin-bottom: 10px;

    fill: $whiteColor;
    // background-color: red;
}