@import '/src/sass/variables.scss';


.group {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 35px;
    margin-bottom: 35px;

    padding-left: 9px;

    @media screen and (min-width: $desktop) {
        padding-top: 37px;
        padding-left: 230px;
        align-items: center;
    }
}

.titleSection {
    transform: rotate(180deg);
    writing-mode: vertical-rl;

    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    letter-spacing: 0.15em;


    @media screen and (min-width: $desktop) {
        font-size: 48px;
        line-height: 53px;

    }
}

.listWrapper {
    display: flex;
    flex-direction: column;

    margin-left: 21px;

    @media screen and (min-width: $desktop) {
        margin-left: 91px;

    }
}

.item {


    &:not(:last-child) {
        margin-bottom: 36px;
    }
}

.text {
    // font-size: 10px;
    font-size: 60%;
    line-height: 11px;
    letter-spacing: 0.15em;

    @media screen and (min-width: $desktop) {
        font-size: 20px;
        line-height: 22px;
    }
}

.title {
    font-weight: 700;
    // font-size: 15px;
    font-size: 100%;
    line-height: 19px;

    @media screen and (min-width: $desktop) {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
    }
}

.desk {
    line-height: 19px;

    @media screen and (min-width: $desktop) {
        font-size: 20px;
        line-height: 35px;
    }
}